@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

.site-title img {
  max-width: 45%;
  max-height: 55%;
  vertical-align: middle;
  border: 0;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: black;
  padding: 2em 0;
  max-height: 17%;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
} 

nav li {
  margin-left: 70px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2em 0;
}

nav a:hover, nav a:focus {
  color:green;
}

.active {
  color: green;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}

#home {
  background: url(https://res.cloudinary.com/sagacity/image/upload/c_crop,h_2832,w_4256,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/_DSC0597a_i6bo5s.jpg) no-repeat center fixed;
  height: 85vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

/* Home page */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}