@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

.site-title h1 {
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0; 
}

.subtitle {
  font-weight: 700;
  color: white;
  font-size: 0.75rem;
  margin: 0;
  text-transform: capitalize;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: black;
  padding: 2em 0;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}